<tr id="<%= dom_id registration_form %>">
  <th scope="row"><%= idx + 1 %></th>
  <th scope="row"><%= registration_form.email %></th>
  <th scope="row"><%= registration_form.first_name || "-" %></th>
  <th scope="row"><%= registration_form.last_name || "-" %></th>
  <th scope="row"><%= registration_form.updated_at.strftime("%b %d, %Y") %></th>
</div>
