<div id="<%= dom_id registration_form %>">
  <p>
    <strong>First name:</strong>
    <%= registration_form.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= registration_form.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= registration_form.email %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= registration_form.date_of_birth %>
  </p>

  <p>
    <strong>Submitted:</strong>
    <%= registration_form.submitted %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= registration_form.slug %>
  </p>

</div>
